/* FOOTER */

footer {
    position: relative;
    width: 100%;
    min-height: 250px;
    height: 350px;
    background-color: #2C2A29;
    padding-top: 40px;
  }
  
  footer nav.footer_nav {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    margin: 0 auto;
    width: 1100px;
  }
  
  footer nav.footer_nav h4,
  footer nav.footer_nav h4 a {
    margin-bottom: 20px;
    font-size: 13px;
    color: #ffffff;
  }
  
  footer nav.footer_nav > ul > li {
    margin-bottom: 8px;
  }
  
  footer nav.footer_nav > ul > li > a {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
  }