@charset 'utf-8';

.main-visual_wrap {
    height: 34vw;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_newyear_top_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-visual_inner { position: relative; box-sizing: border-box; max-width: 1080px; height: 100%; margin: 0 auto; }
.main-visual_slogan { top: 27%; }
.main-visual_slogan, .btn_slogan { position: absolute; width: 55%; left: 5%; }
.btn_slogan { position: absolute; z-index : 10; top: 66%; text-align: center; }
.btn_slogan a {
    margin-left: 5% ;
    color: #046241;
    border: 2px solid #046241;
    transition: background-color .7s, color .7s, border-color .7s;
    -webkit-transition: background-color .7s, color .7s, border-color .7s;
    text-decoration: none;
    display: block;
    width: 50%;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

	.line_notice { height:62px; position:relative; width:100%; }
	.line_notice_left { background:#111; left:0; height:62px; color: white; width:50%; position:absolute; top:0; }
	.line_notice_right { background:#f6f5ef; position:absolute; height:62px; width:50%; right:0; top:0; }
	.line_notice_bg { position:absolute; top:0; }

		
	.line_notice_right .line_notice_bgr { height:62px; width:800px; z-index:10; display: flex;}
	.line_notice_right .line_notice_bgr h2 {  left:37%; width:234px; font-size: 16px; padding-top: 20px; text-align: center;}
	.line_notice_right .line_notice_bgr .toggle-promotion { background-size:200% auto; height:35px; width:35px; margin: 10px; }
	.line_notice_right .line_notice_bgr .btn_prom { height:35px; right:0px; top:0px; width:35px; align-items: center;}


	/* swiper section (line_notice_left)*/
	
	.line_notice_left .swiper {
		overflow: hidden;
		height: 60px;
		flex-grow: 1;
	}
	.line_notice_left .swiper-slide {
		font-size: 16px;
		display: flex;
		align-items: center;
	}
	.line_notice_left .swiper-slide a {color: white;}
	.line_notice_left .swiper-wrapper {
		position: absolute;
		top: 62px;
		left: 50%;
	}
	.line_notice_left .swiper-slide {
		position: relative;
		opacity: .5;      /* 가장자리에 있는 슬라이드는 투명하게 */
		transition: opacity 2s;
	}
	.line_notice_left .swiper-slide-active {
		opacity: 1;       /* 정가운데에 있는 슬라이드만 불투명하게 */
	}
	
	.line_notice_left .notice-line__more {
		width: 62px;
		height: 62px;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	


	 /* promotion section Toggle line_notice_right  */

	.promotion .swiper-slide .btn {
		width: 130px;
		position: absolute;
		border: 2px solid #222;
		border-radius: 3px;
		color : #222;
		display: block;
		font-size: 14px;
		height: 34px;
		margin: auto;
		text-align: center;
	  }

	.promotion .swiper-pagination {
		bottom: 40px;
		left: 0;
		right: 0;
		z-index: 0;
	  }
	.promotion .swiper-pagination {
		background-color: transparent;
		background-image: url("../images/main_prom_off.png");
		width: 13px;
		height: 12px;
		margin-right: 6px;
		outline: none;
	  }
	

	 .promotion {
		height: 500px;
		background-color: #000;
	  }

	.promotion .swiper {
		width: 1000px;
		background-color: orange;
		height: 500px;
		text-align: center;
		font-size: 200px;
		left: 50%;
		margin-left: -500px;
	  }

	.promotion .swiper-slide {
		opacity: 0.5;
		transition: opacity 1s;
	}
	.promotion .swiper-slide-active {
		opacity: 1;
	}
	.promotion .swiper-prev,
	.promotion .swiper-next {
	  width: 42px;
	  height: 42px;
	  outline: none;
	  border: 2px solid #333;
	  border-radius: 50%;
	  position: absolute;
	  /* Swiper Container 높이의 절반만큼 끌어올림 */
	  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
	  /* top: 300px; */
	  z-index: 1;
	  cursor: pointer;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  transition: .4s;
	}




    .main_visual_set{ height: 100%;}
    .set_common { position: absolute; }
    .set_common img { width: 100%; max-width: 100%; vertical-align: top; }
    .set_01 { z-index: 8; top: 17%; left: 39%; width: 25%; }
    .set_02 { z-index: 9; top: 31.4%; left: 55%; width: 26%;}
    .set_03 {z-index: 10; top: 24%; left: 75%; width: 36%;}
    img {vertical-align: top; max-width: 100%;}
    .m-slogan {display: none;}
    .m-drink {display: none;}

	#mainBnr { overflow:hidden; padding:0; position:relative; }
	.main_visual_bnr { left:0; position:absolute; top:0; width:100%; z-index:7; }
	.main_visual_bxslider li { position:relative; width:100%; }
	.main_visual_bxslider li span { position:absolute; }
	.main_visual_bxslider li span a,
	.main_ani_wrap a { border:2px solid #222; border-radius:3px; color:#222; display:block; position:absolute; text-align:center; -webkit-transition:background-color .7s, color .7s; transition:background-color .7s, color .7s; }
	.main_ani_wrap a { opacity:0; }
	.main_visual_bxslider li span a:hover,
	.main_ani_wrap a:hover { background:#222; color:#fff; }
	.main_visual1 { display:block; position:absolute; top:0; left:0; width:100%; }


	.stopShow { background:url("../img/common/footer_award_play.png") 0 0 no-repeat; display:block; height:12px; margin:0; outline:0; text-indent:-20000px; width:9px; }

	.active_slide { opacity:1 !important; filter:alpha(opacity=100) !important; }

	.new-rewards_wrap {padding-top: 30px; padding-bottom: 40px; background-color: #1e3932;}
	.new-rewards_inner {max-width: 1080px; margin: 0 auto;}
	.new-rewards_inner:after {content:""; display: block; clear: both;}
	.new-rewards_inner .pc-br,
	.new-rewards_inner .mobile-br {display: none;}

	.new-rewards_logo {float: left; width: 16.3%; margin-left: 40px; margin-right: 40px; text-align: center;}
	.new-rewards_logo img {width: 176px;}
	
	.new-rewards_conts {box-sizing: border-box; float: left; width: calc(83.7% - 80px); padding-right: 30px; color: #fff; letter-spacing: 0.5px;}
	
	.new-rewards_conts .info-cont {position: relative; margin-bottom: 22px; border-bottom: 1px solid #4b615b;}
	.new-rewards_conts .info-cont_txt {margin-bottom: 12px;}
	.new-rewards_conts .info-cont_txt h2 {line-height: 1.4; margin-bottom: 12px; font-size: 26px; font-weight: normal;}
	.new-rewards_conts .info-cont_txt p {line-height: 1.4; font-size: 17px;}
	.new-rewards_conts .btn-signin_group {position: absolute; bottom: 20px; right: 0; font-size: 0;}
	.new-rewards_conts .btn-signin_group a {box-sizing: border-box; display: inline-block; height: 38px; line-height: 36px; padding-left: 18.5px; padding-right: 18.5px; font-size: 14px; color: #fff; border-radius: 5px; cursor: pointer;}
	.new-rewards_conts .btn-signin_join {background-color: #00704a; border: 2px solid #00704a;}
	.new-rewards_conts .btn-signin_login {margin-left: 9px; background-color: transparent; border: 2px solid #fff;}
	
	.new-rewards_conts .gift-cont {position: relative;}
	.new-rewards_conts .gift-cont_txt p {line-height: 1.4; font-size: 14px;}
	.new-rewards_conts .btn_egift {box-sizing: border-box; position: absolute; top: 0; right: 0; width: 183px; height: 38px; line-height: 36px; text-align: center; font-size: 14px; border: 2px solid #fff; border-radius: 5px;}
	.new-rewards_conts .btn_egift a {display: block; width: 100%; height: 100%; color: #fff;}
	